---
layout: default
---

<!-- Mobile-only post header -->
<div class="mobile-post-header">
  <a href="/" class="home-link">
    <img src="/assets/mje_logo.png" alt="Home" class="logo-icon"> <!-- Optional small logo -->
    <span>{{ site.author | default: "M. J. Escott" }}</span>
  </a>
</div>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

{% include giscus.html %}
